:root {
    --color-fondo: #f5f5f5;
    /*voy a poner este color que esta mas visual*/
    --barra-1: #d17c37;
    /*color cualquiera para la barra, me es igual cual*/
    --barra-2: #726f6f;
    /*una sombrica a los efectos*/
    --series-color-fondo: #ffd68a;
    /*este para las tarjetas de los animes para que resalte algo*/
    --text-color: #333;
    /*un negro o gris para el texto*/
    --font-family-texto: 'Arial', sans-serif;
    --font-family-titulos: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--color-fondo);
}

/* Contenedor principal */
.grid-container {
    display: grid;
    grid-template-areas:
        "barra1 barra2"
        "main-content main-content"
        "footer footer";
    grid-template-rows: 10vh 1fr auto;
    grid-template-columns: 5fr 1fr;
    min-height: 100vh;
    margin: 2vh;
    gap: 10px;
}

/*estilos de las barras de busqueda, la 1 es la grande y 2 la pequeña*/
#barra1 {
    grid-area: barra1;
    background-color: var(--barra-1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
}

#barra2 {
    grid-area: barra2;
    background-color: var(--barra-2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 10px;
}

/*el main content es donde va todo y el footer lo dejamos sencillito*/
.main-content {
    grid-area: main-content;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
}

/*aqui para las series, si te gusta de otra forma lo cambias tu*/
.div {
    background-color: var(--series-color-fondo);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

/*de efecto dejo el hover que es el que dimos el año pasado, asi que se levanta*/
.div:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.div img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

p {
    font-size: 1.2em;
    font-family: var(--font-family-texto);
    color: var(--text-color);
    margin-top: 10px;
}

h2 {
    font-size: 2rem;
    font-family: var(--font-family-titulos);
    margin-bottom: 15px;
    color: #222;
    text-align: center;
}


/*algo de estilo para el formulario que sino queda muy soso*/
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    align-items: center;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--barra-1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #b5651d;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.icon-container {
    display: flex;
    gap: 30px;
}

.icon-container svg {
    transition: fill 0.3s ease;
    fill: currentColor;
}
.icon-container svg:hover {
    fill: red;
}

footer p {
    text-align: center;
    padding: 5px;
    color: white;
    margin: 2px 0;
    font-size: 12px;
}

footer a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/*abajo por ultimo hacemos los media queris*/
/* contenedor de las diferentes series que estan en divs */
.categorias {
    display: grid;
    gap: 20px;
    justify-content: center;
}

/* el media queri grande en 3 columnas */
@media (min-width: 1024px) {
    .categorias {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* el media queri mediano en 2 columnas */
@media (min-width: 768px) and (max-width: 1023px) {
    .categorias {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* el media queri pequeño en 1 columna */
@media (max-width: 767px) {
    .categorias {
        grid-template-columns: 1fr;
    }
}


